{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<h2>Login form</h2>
    <form action="" method="post">
        {{form.csrf_token}}
        {{form.email.label(class="form-control-label")}}: {{form.email(class="form-control")}}
        {{form.password.label(class="form-control-label")}}: {{form.password(class="form-control")}}
        {{form.remember_me.label(class="form-control-label")}}: {{form.remember_me(class="form-control")}}<br>
        <button class="btn btn-info" type="submit">log in</button>
    </form>
{% endblock content %}