{% extends "base.html" %}

{% block title %}profile{% endblock title %}

{% block content %}
{% include 'common/register_error.html' %}
<h2>{{current_user.username}}</h2><br>
<p>{{current_user.email}}</p><br>
<a href="{{url_for('new_post')}}" class="btn btn-warning">Create new post</a>
<hr>
<form action="" method="post">
{{form.csrf_token}}
{{form.username.label(class='form-control-label')}} {{form.username(class='form-control')}}<br>
{{form.email.label(class='form-control-label')}} {{form.email(class='form-control')}}<br>
<button type="submit"  class="btn btn-primary">Update</button>

</form>
{% endblock content %}